* {
	@apply m-0 p-0 box-border transition-all duration-300;
}

html,
body,
#root {
	@apply w-full h-full;
}

@font-face {
	font-family: Montserrat-Bold;
	src: url(/assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family: Montserrat-Regular;
	src: url(/assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: Roboto-Light;
	src: url(/assets/fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: RobotoMono-Regular;
	src: url(/assets/fonts/RobotoMono-Regular.ttf);
}

::-webkit-scrollbar {
	@apply w-0;
}
