@import "~include-media/dist/_include-media.scss";

* {
	margin: 0;
	padding: 0;
}

html, body, #root {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
	flex-direction: row;
}

@font-face {
	font-family: NotoSans;
	src: url(assets/fonts/notosans-regular.otf);
}

.profile {
	padding: 3rem;
	border-radius: 0;
	box-shadow: 0 0 0 0 black;

	@include media("<=tablet") {
		width: 200px;
	}

	@include media(">tablet") {
		width: 300px;
	}

	&__image {
		width: 0;
		height: 0;
		opacity: 0;
		display: block;
		border-radius: 50%;
		margin: 0 auto;

		/* Animation image scale */
		@keyframes animation-image-scale-mobile {
			from {
				width: 0;
				height: 0;
				opacity: 0;
			}
			to {
				width: 200px;
				height: 200px;
				opacity: 1;
			}
		}

		@keyframes animation-image-scale-desktop {
			from {
				width: 0;
				height: 0;
				opacity: 0;
			}
			to {
				width: 300px;
				height: 300px;
				opacity: 1;
			}
		}

		&.animate-image-scale {
			@include media("<=tablet") {
				animation: animation-image-scale-mobile 2s;
			}

			@include media(">tablet") {
				animation: animation-image-scale-desktop 2s;
			}
		}

		&.state-image-scale {
			@include media("<=tablet") {
				width: 200px;
				height: 200px;
				opacity: 1;
			}

			@include media(">tablet") {
				width: 300px;
				height: 300px;
				opacity: 1;
			}
		}

		/* Animation image radius */
		@keyframes animation-image-radius {
			from {
				border-radius: 50%;
			}
			to {
				border-radius: 20%;
			}
		}

		&.animate-image-radius {
			animation: animation-image-radius 1s;
		}

		&.state-image-radius {
			border-radius: 20%;
		}
	}

	&__name {
		margin-top: 1rem;
		font-family: NotoSans, serif;
		text-align: center;
		font-size: 0;

		/* Animation name */
		@keyframes animation-name-mobile {
			from {
				font-size: 0;
			}
			to {
				font-size: 24px;
			}
		}

		@keyframes animation-name-desktop {
			from {
				font-size: 0;
			}
			to {
				font-size: 32px;
			}
		}

		&.animate-name {
			@include media("<=tablet") {
				animation: animation-name-mobile 1s;
			}

			@include media(">tablet") {
				animation: animation-name-desktop 1s;
			}
		}

		&.state-name {
			@include media("<=tablet") {
				font-size: 24px;
			}

			@include media(">tablet") {
				font-size: 32px;
			}
		}
	}

	&__redirecting {
		font-family: NotoSans, serif;
		text-align: center;
		font-size: 0;

		/* Animation redirecting */
		@keyframes animation-redirecting-mobile {
			from {
				font-size: 0;
			}
			to {
				font-size: 12px;
			}
		}

		@keyframes animation-redirecting-desktop {
			from {
				font-size: 0;
			}
			to {
				font-size: 16px;
			}
		}

		&.animate-redirecting {
			@include media("<=tablet") {
				animation: animation-redirecting-mobile 1s;
			}

			@include media(">tablet") {
				animation: animation-redirecting-desktop 1s;
			}
		}

		&.state-redirecting {
			@include media("<=tablet") {
				font-size: 12px;
			}

			@include media(">tablet") {
				font-size: 16px;
			}
		}
	}

	/* Animation materialize */
	@keyframes animation-materialize {
		from {
			box-shadow: 0 0 0 0 black;
		}
		to {
			box-shadow: 0 0 8px -4px black;
		}
	}

	&.animate-materialize {
		animation: animation-materialize 1s;
	}

	&.state-materialize {
		box-shadow: 0 0 8px -4px black;
	}

	/* Animation materialize radius */
	@keyframes animation-materialize-radius {
		from {
			border-radius: 0;
		}
		to {
			border-radius: 40px;
		}
	}

	&.animate-materialize-radius {
		animation: animation-materialize-radius 1s;
	}

	&.state-materialize-radius {
		border-radius: 40px;
	}
}