@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply m-0 p-0 box-border transition-all duration-300 text-black;
}

@font-face {
	font-family: Montserrat-Bold;
	src: url(/assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family: Montserrat-Regular;
	src: url(/assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: Roboto-Light;
	src: url(/assets/fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: RobotoMono-Regular;
	src: url(/assets/fonts/RobotoMono-Regular.ttf);
}

*::-webkit-scrollbar {
	@apply w-2;
}

*::-webkit-scrollbar-track {
	@apply bg-slate-300 rounded;
}

*::-webkit-scrollbar-thumb {
	@apply bg-primary-200 rounded;
}

html,
body,
#__next {
	@apply w-full h-full;
}

canvas {
	opacity: 0.5;
}

.markdown {
	@apply text-gray-800 font-roboto-light;

	& a {
		@apply text-blue-500 underline;
	}

	& h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-robotomono-regular font-bold border-b border-b-gray-300;
	}

	& h1,
	h2 {
		@apply my-3 py-3;
	}

	& h3,
	h4 {
		@apply my-2 py-2;
	}

	& h5,
	h6 {
		@apply my-1 py-1;
	}

	& h1 {
		@apply text-3xl;
	}

	& h2 {
		@apply text-2xl;
	}

	& h3 {
		@apply text-xl;
	}

	& h4 {
		@apply text-lg;
	}

	& h5 {
		@apply text-base;
	}

	& h6 {
		@apply text-sm;
	}

	& p {
		@apply text-base mb-4;

		& img {
			@apply inline mb-2;
		}
	}

	& ul {
		@apply list-disc list-inside;
	}

	& ol {
		@apply list-decimal list-inside;
	}

	& li {
		@apply ms-6 mt-1;

		& a > img {
			@apply inline-block;
		}
	}

	& blockquote {
		@apply border-l-4 border-gray-300 pl-4;
	}

	& code {
		@apply bg-gray-100 p-1 rounded;
	}

	& pre {
		@apply bg-gray-100 p-4 rounded;
	}

	& table {
		@apply border-collapse border border-gray-300;
	}

	& th {
		@apply border border-gray-300;
	}

	& td {
		@apply border border-gray-300;
	}

	& img {
		@apply max-w-full;
	}

	& hr {
		@apply border-0 border-t-2 border-gray-300;
	}
}
