@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Montserrat-Bold;
	src: url(/assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family: Montserrat-Regular;
	src: url(/assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: Roboto-Light;
	src: url(/assets/fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: RobotoMono-Regular;
	src: url(/assets/fonts/RobotoMono-Regular.ttf);
}

* {
	@apply box-border p-0 m-0 text-black;
}

*:not(.no-transition) {
	@apply transition-all duration-300;
}

*::-webkit-scrollbar {
	@apply w-2;
}

*::-webkit-scrollbar-track {
	@apply rounded bg-slate-300;
}

*::-webkit-scrollbar-thumb {
	@apply rounded bg-primary-200;
}

html,
body,
#__next {
	@apply w-full h-full;
}
