// Widescreens
@include mediaXl {
	#projects > .projects {
		grid-template-columns: repeat(4, 1fr);
	}
}

// Desktops & Laptops
@include mediaLg {
	#projects > .projects {
		grid-template-columns: repeat(3, 1fr);
	}
}

// Tablets & Small Laptops
@include mediaMd {
	#clear {
		display: block;
		clear: both;
	}
	main {
		align-items: center;
		text-align: center;

		.lg-heading {
			line-height: 1;
			margin-bottom: 1rem;
			font-size: 4rem;
		}
	}

	ul.menu-nav,
	div.menu-branding {
		float: none;
		width: 100%;
		min-height: 0;

		&.show {
			transform: translate3d(0, 0, 0);
		}
	}

	.menu-nav {
		height: 75vh;
		transform: translate3d(-100%, 0, 0);
		font-size: 24px;
	}

	.menu-branding {
		height: 25vh;
		transform: translate3d(100%, 0, 0);

		.portrait {
			background: url("../images/portrait_small.jpg");
			width: 150px;
			height: 150px;
		}
	}

	.about-info {
		grid-template-areas:
			"bioimage"
			"bio"
			"langs" !important;
		grid-template-columns: 1fr !important;
	}

	.projects {
		grid-template-columns: repeat(2, 1fr) !important;
	}

	main {
		padding: 2rem;
	}

	#bio-image {
		margin: auto !important
	}

	.accomplishments {
		text-align: left !important;
	}

	.bio {
		font-size: 1.2rem !important;
	}
}

// Smartphones
@include mediaSm {
	#clear {
		display: block;
		clear: both;
	}
	main {
		padding: 1rem;
		#home h1 {
			margin-top: 10vh;
		}

		.lg-heading {
			margin-top: 1rem;
			font-size: 3rem;
		}

		.sm-heading {
			font-size: 1rem;
		}
	}

	.projects {
		grid-template-columns: 1fr !important;
	}

	#letters {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
	}

	#bio-image {
		margin: auto !important
	}

	.accomplishments {
		text-align: left !important;
	}

	.bio {
		font-size: 1rem !important;
	}
}
