@import "config";
@import "menu";

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0;
}

body {
	@include background;
	background: $primary-color;
	color: set-text-color($primary-color);
	height: 100%;
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
}

#root {
	overflow-x: hidden;
}

// Headings
h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;

	&.lg-heading {
		font-size: 6rem;
	}

	&.sm-heading {
		margin-bottom: 2rem;
		padding: 0.2rem 1rem;
		background: rgba(lighten($primary-color, 2), 0.5);
	}
}

a {
	color: #fff;
	text-decoration: none;
}

a[target="_blank"] {
	text-decoration: underline;
}

button {
	background: none;
	border: none;
	color: white;
	font-size: inherit;
	padding: 0;
	text-decoration: underline;

	&:focus {
		outline: none;
	}

	&:hover {
		cursor: pointer;
	}
}

header {
	position: fixed;
	z-index: 2;
	width: 100%;
}

.text-secondary {
	color: $secondary-color;
}

#clear {
	display: inline;
}

.btn {
	display: block;
	padding: 0.5rem 1rem;
	border: 0;
	margin-bottom: 0.3rem;
	&:hover {
		background: $secondary-color;
		color: set-text-color($secondary-color);
	}
}

.btn-dark {
	@extend .btn;
	background: darken($primary-color, 50);
	color: #fff;
	height: 2.5rem;
	text-align: start;
}

img {
	user-select: none;
}

#main-footer {
	text-align: center;
	padding: 1rem;
	background: darken($primary-color, 10);
	color: set-text-color($primary-color);
	height: 60px;
	display: none;
}

main {
	padding: 4rem;
	// height: 100%;
	min-height: calc(100vh - 60px);

	.icons {
		margin-top: 1rem;

		a {
			padding: 0.4rem;
			@include easeOut;

			&:hover {
				color: $secondary-color;
			}
		}
	}

	&#home {
		overflow: hidden;
		h1 {
			margin-top: 20vh;
		}
	}
}

#about {
	.about-info {
		text-align: left;
		display: grid;
		grid-gap: 30px;
		grid-template-areas:
			"bioimage bio bio"
			"langs langs langs";
		grid-template-columns: repeat(3, 1fr);

		#bio-image {
			grid-area: bioimage;
			margin: 0 auto;
			border-radius: 50%;
			border: $secondary-color 3px solid;
		}

		.bio {
			grid-area: bio;
			font-size: 1.3rem;
			ul {
				margin-top: 0;
			}
		}

		.langs {
			.langs-title {
				color: $secondary-color;
				margin-bottom: 1rem;
			}
			grid-area: langs;
			.lang-list {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
			}
			.lang {
				font-size: 3rem;
				margin: auto;
				padding: 0.5rem;
			}
		}
	}
}

#projects > .projects {
	display: grid;
	grid-gap: 0.7rem;
	grid-template-columns: repeat(3, 1fr);

	.project-img {
		width: 100%;
		border: 3px #fff solid;

		&:hover {
			cursor: pointer;
			opacity: 0.5;
			border-color: $secondary-color;
			@include easeOut;
		}
	}

	.item {
		a {
			span {
				position: absolute;
				margin-left: 0.5rem;
				height: 1.5rem;
			}
		}
	}
}

#achievements {
	section {
		margin-bottom: 3rem;
	}
	#ach-section {
		@extend .text-secondary;
		position: sticky;
		padding: 0.125rem 1rem;
		top: 1rem;
		background-color: #ffeebc;
		height: auto;
		border-radius: 25px;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		user-select: none;
	}

	#certs {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		justify-items: center;
		text-align: center;

		.cert {
			img {
				margin-top: 40px;
				width: 80%;
				border: 3px solid #444;

				&:hover {
					opacity: 0.5;
					border-color: $secondary-color;
					@include easeOut;
				}
			}

			p {
				margin: 0;
			}
		}
	}

	#letters {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
		justify-items: center;
		text-align: center;

		a {
			margin-bottom: 2rem;
			.recommendation {
				width: 80%;
				height: 100%;
				border: 3px solid #444;

				&:hover {
					opacity: 0.5;
					border-color: $secondary-color;
					@include easeOut;
				}
			}
		}
	}
}

@import "mobile";
